.main-content {
  margin: 20px 47px 20px 324px;
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0px;
  font-size: 20px;
}

.charts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 51px 10px;
}

.chart-container {
  margin-right: 5rem;
}
