.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #fbede0;
  color: #2d2c2b;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 60px;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.logo {
  width: 60px;
  margin-right: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.link-img {
  height: 32px;
  margin-right: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #2d2c2b;
  padding: 10px;
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar a:hover {
  text-decoration: underline 3px solid #422800;
}

.welcome-back {
  color: #2d2c2b;
  margin-bottom: 10px;
  font-size: 18px;
}
.user-container {
  font-size: 22px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-container .avatar {
  margin-right: 10px;
}

.user-container .username {
  font-weight: bold;
}

.logout-btn {
  background-color: #fbede0;
  padding-left: 10px;
  font-size: 1rem;
  color: #2d2c2b;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  border: none;
  margin-top: 8rem;
}

.logout-btn:hover {
  text-decoration: underline 3px solid #422800;
}
