.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 94vh;
  width: 250px;
  background-color: #f2f2f2;
  color: #2d2c2b;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  width: 60px;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #2d2c2b;
  padding: 10px;
  display: block;
}

.welcome-back {
  color: #2d2c2b;
  margin-bottom: 10px;
  font-size: 1rem;
}
.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-container .avatar {
  margin-right: 10px; /* Add some space between avatar and username */
}

.user-container .username {
  font-weight: bold; /* Make the username bold if needed */
}

.logout-btn {
  padding-left: 10px;
  font-size: 1rem;
  color: #2d2c2b;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  border: none;
}

.logout-btn:hover {
  text-decoration: underline 3px solid #fee6e3;
}
