.main-content {
  margin-left: 250px;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
}

.transaction-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.category-button,
.create-transaction-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 8px 10px;
  height: 4rem;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 3px 3px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.category-button:hover,
.create-transaction-button:hover {
  background-color: #fff;
}

.category-button:hover,
.create-transaction-button:hover {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(1px, 1px);
}

.category-button img,
.create-transaction-button img {
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

/* Styling for transactions */

/* Pagination */
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

/* Active pagination button */
.pagination .active button {
  background-color: #ccc;
}
